.fake-checkbox {
  opacity: 0;
  position: absolute;
  height: 0cm;
}

.slide {
  clear: both;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  text-align: center;
  transition: max-height .4s ease;
}

.sidebar {
  clear: both;
  max-width: 0px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transition: max-width .4s ease;
}

.editor {
  clear: both;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  text-align: center;
  transition: max-height .4s ease;
}

.fake-checkbox:checked+.slide {
  max-height: 500px;
}

.fake-checkbox:checked+.editor {
  max-height: 500px;
}

.fake-checkbox:checked+.sidebar {
  max-width: 500px;
}

.rounded {
  border-radius: 10px !important;
}

.rounded-top {
  border-radius: 10px !important;
}

.login-form {
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 50px;
}

.workouts {
  padding: 20px
}

/* .buttons {
  float: right;
} */

/* .test-media {
  background-color: aqua;
} */

@media screen and (max-width: 576px) {
  .navbar>.btn {
    display: none;
  }

  .buttons {
    justify-content: center !important;
  }

  .slide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .workouts {
    padding: 10px
  }

  .edit-button {
    display: none;
  }
}